name: Build and deploy Node.js app to Azure Web App - reserve-app

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js version
        uses: actions/setup-node@v3
        with:
          node-version: '20.x'

      - name: npm install and build
        run: |
          npm install
          npm run build
        env:
          RESEND_API_KEY: ${{ secrets.RESEND_API_KEY }}

      # NEW STEP: Next.js standalone doesn't include these by default
      - name: Copy standalone assets
        run: |
          cp -r public .next/standalone/
          cp -r .next/static .next/standalone/.next/

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: node-app
          path: .next/standalone # ONLY upload the production-ready folder

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: node-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_D9A4135B00B24CA79B78C16D2C58F18D }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_E7795FC0725047FE84504B56C50A8AD0 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_877CF905C5D243BCA5DA865656924600 }}

      - name: 'Deploy to Azure Web App'
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'reserve-app'
          slot-name: 'Production'
          package: .